*{
    margin: 0;
    padding: 0;
}

div.container{
    width: 50%;
    min-height: 400px;
    background-color: beige;
    border: solid gray thin;
    box-shadow: 3px 3px 3px gray;
    display: block;
    margin: 0 auto;
}

div.container > h1{
    text-shadow: 3px 3px 3px blue;
}

ul.list{
    list-style-type: square;
    margin-left: 2rem;
    background-color: yellow;
}

ul.list > li{
    font-style: italic;
    color: purple;
}